// Add custom fonts by visiting and search https://fonts.google.com
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Import utilities.
@import "utils/typography";
@import "utils/colors";
@import "utils/mixins";
@import "utils/variables";

/* Global styles */
@import "global/window";
@import "global/grid";
@import "global/flex";

/* Styles limited to reclaim sheets */
.reclaim {
  @import "components/forms";
  @import "components/resource";
  @import "components/items";
  @import "components/effects";
}

/* Module overrides */
@import "mod_overrides/hand_mini_bar";
/* /Module overrides */

body.vtt.game.system-reclaim {
  div.sheet.cards-config.hand {
    form.editable {
      div.reclaim-deckBinder,
      ol.cards {
        padding-bottom: 4px;
        border-bottom: 2px groove #444;
      }

      header.reclaim-cards-connection-header {
        font-weight: bold;
      }

      .deck {
        flex: 2;
      }

      .number {
        flex: 1;
      }

      footer.sheet-footer {
        padding-top: 4px;
      }
    }
  } /* /Card Hand Sheet customization */

  div.card-config {
    div.form-group {
      #with-checkbox {
        justify-content: flex-start;
      }
    }
  }

  /* Token Sheet customization */
  div.token-sheet {
    div.form-group {
      select,
      input {
        max-width: 273px;
      }
    }
  } /* /Token Sheet customization */

  div.reclaim-chat-box {
    flex: none;
  }

  div.reclaim-chat-box-button {
    margin: 3px;
    padding: 1px;
  }
}
