<form class="reclaim pick-role-form">
	{{#each object.contents}}
        <div class="form-group">
            <label>{{this.name}} (role: {{this.reclaimRole}} {{this.system.reclaimRole}})</label>
			{{#if this.canModifyRole }}  
			<select name="reclaimRole" id="{{this.id}}">
                {{#select flags.reclaim.ReclaimUserRole}}
					{{#each ../roles}}
						<option value="{{this}}">{{this}}</option>
					{{/each}}
                {{/select}}
            </select>
			{{/if}}
			{{#unless this.canModifyRole}}
				<select name="reclaimRole" disabled>
					{{#select flags.reclaim.ReclaimUserRole}}
						{{#each ../roles}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					{{/select}}
				</select> 
			{{/unless}}
        </div>
	{{/each}}
</form>