<form class="reclaim pick-role-form" action="">
	{{#each users}}
        <div class="form-group">
            <label>{{this.name}}</label>
			{{#if this.isSelf }}  
			<select name="roleId">
                {{#select roleId}}
					<option value="">None</option>
					{{#each ../roles}}
						<option value="{{this}}">{{this}}</option>
					{{/each}}
                {{/select}}
            </select>
			{{/if}}
			{{#unless this.isSelf}}
				<select name="roleId" disabled>
					{{#select roleId}}
						<option value="">None</option>
						{{#each ../roles}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					{{/select}}
				</select> 
			{{/unless}}
        </div>
	{{/each}}
</form>